{
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2020
	},
	"env": {
		"es6": true,
		"node": true
	},
	"rules": {
		"indent": "off",
		"linebreak-style": ["warn", "unix"],
		"semi": ["warn", "never"],
		"no-trailing-spaces": ["warn", { "ignoreComments": true }],
		"object-curly-spacing": ["warn", "always"],
		"no-unused-vars": "warn",
		"no-console": "warn",
		"@typescript-eslint/member-delimiter-style": "off",
		"@typescript-eslint/camelcase": "warn"
	}
}
